body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-field>label{
  color: black;
}

input{
  border-bottom:1px solid #000 !important;
}

.my-padding{
  padding-right: 80px;
}

.pt1{
  padding-top: 50px;
}

.carousel .carousel-item>img{
  width:150% !important;
}

.sidenav-trigger {
  position: fixed;
  bottom: 10vh;
  right: 10vh;
  border-radius: 30%;
}

.parallax-heading{
  font-weight: bold;
  font-size: 60px;
  color: white;
}

.parallax-subheading{
  font-family: 'Kulim Park', sans-serif;
  color: white;
  font-weight: 20px;
}